body {
  color: #333;
  font-family: "Cormorant", sans-serif;
  /* font-family: "Nunito", sans-serif; */
  width: 100%;
  margin: 0;
  padding: 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  padding: 15px 25px;
  transition: all 200ms ease-in-out;
}

button.normal:hover {
  cursor: pointer;
  background-color: #8b0000;
  color: #fff;
}

/* navbar */
img.logo {
  width: 100px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.02);
  padding: 0 80px;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 15px 20px;
  position: relative;
}

#navbar li a {
  color: #333;
  font-size: 20px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
  color: #8b0000;
}

#navbar li a .active::after,
#navbar li a:hover::after {
  content: "";
  width: 55%;
  height: 2px;
  background-color: #8b0000;
  position: absolute;
  bottom: -2px;
  left: 24px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* Home Page */
#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
    url("../images/hero.bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 960px;
  opacity: 0.8;
}

#hero h1 {
  color: #fff;
  font-size: 78px;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 8px;
  word-spacing: 10px;
  text-align: center;
  margin: 0;
  padding: 140px 0 0 0;
}

#hero h2 {
  color: #fff;
  font-size: 38px;
  font-style: italic;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
  padding: 60px 0 20px 0;
}

#hero button:hover {
  cursor: pointer;
  background-color: #8b0000;
  color: #fff;
}

/* feature section*/

#feature {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  align-items: center;
  justify-items: center;
}

#feature .feature-box {
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  width: 100%;
  max-width: 180px;
  text-align: center;
  padding: 25px 15px;
  margin: 0;
  transition: all 250ms ease-in-out;
}

#feature .feature-box img {
  width: 100%;
  padding-top: 15px;
}

#feature .feature-box h4 {
  font-size: 18px;
  line-height: 1.5;
  padding: 9px 8px 6px 8px;
}

/* collection section*/
#collection-1 {
  text-align: center;
}

#collection-1 h2 {
  font-size: 68px;
  font-style: italic;
  letter-spacing: 2px;
}

#collection-1 .collections-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-top: 30px;
}

#collection-1 .collections {
  position: relative;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  width: 100%;
  max-width: 250px;
  margin: 0;
  padding: 10px 12px;
  transition: all 250ms ease-in-out;
}

#collection-1 .collections:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

#collection-1 .collections img {
  width: 100%;
  border-radius: 2px;
}

#collection-1 .collections .description {
  text-align: start;
}

#collection-1 .collections .description span {
  font-size: 16px;
}

#collection-1 .collections .description h4 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  padding: 10px 0 15px 0;
}

#collection-1 .collections .description i {
  color: #6b6b6b;
  font-size: 16px;
}

#collection-1 .collections .description h5 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 5px 0 15px;
}

#collection-1 .collections .description .cart {
  color: #fff;
  background-color: #8b0000;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* Banner Section */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/banner.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}

#banner p {
  color: #fff;
  font-size: 68px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 4px;
  margin: 0;
  padding-top: 20px;
}

#banner h3 {
  color: #fff;
  font-size: 38px;
  letter-spacing: 2px;
  margin-bottom: 0;
  padding-bottom: 25px;
}

#banner h3 span {
  color: #8b0000;
  font-style: italic;
}

/* Small banner section */
#small-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  text-align: center;
}

#small-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../images/sm-banner1.png");
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  width: 100%;
  height: 500px;
  padding: 30px;
}

#small-banner .banner-box2 {
  background-image: url("../images/sm-banner2.png");
}

#small-banner p {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 4px;
  margin: 0;
  padding-top: 20px;
}

#small-banner .banner-box2 p {
  color: #333;
}

#small-banner h3 {
  color: #fff;
  font-size: 48px;
  margin: 0;
  padding-bottom: 25px;
}

#small-banner .banner-box2 h3 {
  color: #333;
}

#small-banner button {
  background-color: #fff;
  color: #333;
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  padding: 15px 25px;
  transition: all 200ms ease-in-out;
}

#small-banner button:hover {
  cursor: pointer;
  background-color: #8b0000;
  color: #fff;
}

/* Banner 3 section */

#banner3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  padding: 0 80px;
  text-align: center;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("../images/banner3.1.png");
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  min-width: 30%;
  height: 300px;
  margin-bottom: 20px;
  padding: 20px;
}

#banner3 .banner-box2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url("../images/banner3.2.png");
}

#banner3 .banner-box3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../images/banner3.3.png");
}

#banner3 h3 {
  color: #fff;
  font-size: 28px;
  font-style: italic;
  letter-spacing: 2px;
  margin: 0;
}

#banner3 h4 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 5px;
}

/* Newsletter section */

#newsletter {
  background-image: url("../images/newletter.png");
  background-repeat: no-repeat;
  background-position: 20% 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#newsletter h4 {
  font-size: 28px;
  font-weight: 800;
  font-style: italic;
  margin: 0;
}

#newsletter p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

#newsletter span {
  color: #8b0000;
  font-weight: 700;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input.email-input {
  height: 20px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}

#newsletter input.submit-btn {
  display: block;
  margin: 0 auto;
  background-color: #8b0000;
  color: #fff;
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  margin-left: 5px;
  padding: 10px 25px;
  transition: all 200ms ease-in-out;
}

#newsletter input.submit-btn:hover {
  cursor: pointer;
  background-color: #8b0000;
  opacity: 0.5;
  color: #fff;
}

/* Footer section */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

footer .logo {
  width: 180px;
  margin-bottom: 20px;
}

footer h5 {
  font-size: 24px;
  font-style: italic;
  margin: 0;
  padding-bottom: 20px;
}

footer .about h5 {
  margin-top: 200px;
}

footer .account h5 {
  margin-top: 200px;
}

footer .install h5 {
  margin-top: 200px;
}

footer p {
  font-size: 18px;
  margin: 0 0 8px 0;
}

footer a {
  color: #333;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 10px;
  transition: all 250ms ease-in-out;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #333;
  padding-right: 8px;
  transition: all 250ms ease-in-out;
}

footer .install .row .app-payment {
  width: 120px;
}

footer .install .card-payment-container {
  display: flex;
  gap: 10px;
}

footer .install .card-payment {
  width: 60px;
  height: auto;
}

footer .follow i:hover,
footer a:hover {
  color: #8b0000;
  cursor: pointer;
}

footer .copyright {
  width: 100%;
  text-align: center;
  margin: 100px 0 100px;
}

footer p.coder-info {
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

footer p a {
  font-size: 12px;
  color: #8b0000;
}

footer p a:hover {
  text-decoration: underline;
}

/* Shop page */
/* page-header section */
#page-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
    url("../images/shop.cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
}

#page-header h1 {
  color: #c9c9c9;
  font-size: 46px;
  font-style: italic;
  letter-spacing: 4px;
  text-align: left;
  margin-bottom: 0;
  padding: 50px 0 0 50px;
}

#page-header h2 {
  color: #c9c9c9;
  font-size: 28px;
  font-weight: 200;
  letter-spacing: 2px;
  text-align: left;
  margin-top: 10px;
  padding: 0 0 0 50px;
}

#pagination {
  text-align: center;
}

#pagination a {
  background-color: #8b0000;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  padding: 15px 20px;
  transition: all 300ms ease-in-out;
}

#pagination a i {
  font-size: 16px;
}

#pagination a:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

/* Single product page */
#pro-details {
  display: flex;
  margin-top: 20px;
}

#pro-details .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#pro-details .single-pro-details {
  width: 50%;
  padding-top: 5px;
}

#pro-details .single-pro-details h3 {
  font-size: 38px;
  padding: 10px 0 20px 0;
  margin: 0;
}

#pro-details .single-pro-details h4 {
  font-size: 34px;
  font-weight: bold;
  font-style: italic;
  padding: 20px 0 10px 0;
  margin: 0;
}

#pro-details .single-pro-details h6 {
  font-size: 18px;
  font-weight: 300;
  padding: 5px 0;
  margin: 0;
}

#pro-details .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#pro-details .single-pro-details input {
  font-size: 16px;
  width: 35px;
  height: 32px;
  padding-left: 10px;
  margin-right: 10px;
}

#pro-details .single-pro-details input:focus {
  outline: none;
}

#pro-details .single-pro-details button {
  display: inline;
  margin: 0 auto;
  background-color: #8b0000;
  color: #fff;
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  padding: 10px 15px;
  transition: all 200ms ease-in-out;
}

#pro-details .single-pro-details button:hover {
  cursor: pointer;
  background-color: #8b0000;
  color: #fff;
  opacity: 0.5;
}

#pro-details .single-pro-details span {
  font-size: 18px;
  line-height: 1.5;
}

/* Blog page */
#page-header.blog-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
    url("../images/blog.header.png");
}

#page-header.blog-header h1 {
  font-size: 58px;
  letter-spacing: 10px;
  text-align: center;
  padding: 120px 0 30px 0;
  margin-top: 0;
}

#page-header.blog-header h2 {
  font-size: 28px;
  font-weight: 200;
  text-align: center;
  padding: 0;
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blo-details {
  width: 50%;
}

#blog .blo-details h4 {
  font-size: 22px;
  margin: 0 0 20px 0;
}

#blog .blo-details p {
  font-size: 18px;
  line-height: 1.5;
}

#blog .blo-details a {
  color: #8b0000;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  transition: all 300ms ease-in-out;
}

#blog .blo-details a::after {
  background-color: #8b0000;
  content: "";
  width: 50px;
  height: 1px;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blo-details a:hover {
  opacity: 0.4;
}

#blog .blog-box h1 {
  color: #6b6b6b;
  opacity: 0.6;
  position: absolute;
  top: -65px;
  left: 0;
  font-size: 70px;
  font-weight: 800;
  margin: 0;
  z-index: -9;
}

/* About page */

#page-header.about-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../images/about.header.png");
}

#page-header.about-header h1 {
  font-size: 58px;
  letter-spacing: 10px;
  text-align: center;
  padding: 120px 0 30px 0;
  margin-top: 0;
}

#page-header.about-header h2 {
  font-size: 28px;
  font-weight: 200;
  text-align: center;
  padding: 0;
}

#about-head {
  display: flex;
  align-items: center;
  margin: 120px 0 120px;
}

#about-head img {
  width: 50%;
  height: auto;
}

#about-head div {
  padding-left: 40px;
}

#about-head h2 {
  font-size: 38px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  padding-bottom: 10px;
}

#about-head p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 10px;
}

#about-app {
  text-align: center;
  margin: 100px 0;
}

#about-app h1 {
  font-size: 48px;
  font-style: italic;
  margin: 150px 0 80px;
}

#about-app a {
  color: #8b0000;
}

#about-app a:hover {
  opacity: 50%;
}

#about-app .video {
  width: 70%;
  height: auto;
  margin: 30px auto 0 auto;
}

#about-app .video video {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

/* Contact page */

#page-header.contact-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../images/contact.header.png");
}

#page-header.contact-header h1 {
  font-size: 58px;
  letter-spacing: 10px;
  text-align: center;
  padding: 120px 0 30px 0;
  margin-top: 0;
}

#page-header.contact-header h2 {
  font-size: 28px;
  font-weight: 200;
  text-align: center;
  padding: 0;
}

#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span,
#form-details form span {
  font-size: 18px;
}

#contact-details .details h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 10px 0 0 0;
}

#contact-details .details h2,
#form-details form h2 {
  font-size: 48px;
  font-style: italic;
  line-height: 1.5;
  padding: 5px 0 10px 0;
  margin: 0;
}

#contact-details .details ul {
  padding-left: 0;
}

#contact-details .details li {
  display: flex;
  padding: 10px 0;
  list-style: none;
}

#contact-details .details li i {
  font-size: 16px;
  padding-right: 20px;
}

#contact-details .details li p {
  font-size: 16px;
  margin: 0;
}

#contact-details .map {
  width: 55%;
  height: 400px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

#form-details {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  margin: 30px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
}

#form-details form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  outline: none;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #6b6b6b;
}

#form-details form button {
  display: block;
  margin: 0 auto;
  background-color: #8b0000;
  color: #fff;
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  padding: 10px 15px;
  transition: all 200ms ease-in-out;
}

#form-details .people div {
  display: flex;
  align-items: flex-start;
  padding-bottom: 30px;
}

#form-details .people div i {
  font-size: 65px;
  object-fit: cover;
  margin: 0 15px 15px 0;
}

#form-details .people div p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

#form-details .people div p span {
  display: block;
  font-size: 18px;
  font-style: italic;
  font-weight: 800;
  color: #222222;
}

/* Media Query */
@media (max-width: 960px) {
  .section-p1 {
    padding: 40px 40px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #fafafa;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 300ms;
  }

  #navbar.active {
    right: 0;
  }

  #navbar li {
    margin-bottom: 10px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #6b6b6b;
    font-size: 24px;
    padding-left: 24px;
  }

  #close {
    display: initial;
    color: #333;
    font-size: 24px;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  #lg-bag {
    display: none;
  }

  #hero {
    width: 100%;
    height: 960px;
    opacity: 0.8;
  }

  #hero h1 {
    font-size: 48px;
  }

  #hero h2 {
    font-size: 38px;
    padding-bottom: 80px;
  }

  #feature {
    grid-template-columns: repeat(2, 1fr);
  }

  #feature .feature-box {
    margin: 15px 15px;
  }

  #collection-1 .collections-container {
    justify-content: center;
  }

  #collection-1 .collections {
    margin: 15px;
  }

  #banner {
    width: 100%;
    height: 400px;
  }

  #small-banner {
    grid-template-columns: 1fr;
  }
  #small-banner .banner-box {
    min-height: 400px;
    background-size: cover;
  }

  #banner3 {
    grid-template-columns: 1fr;
    padding: 0 40px;
  }

  #banner3 .banner-box {
    height: 250px;
    background-size: cover;
  }

  #newsletter .form {
    width: 70%;
  }

  /* Blog page */
  #blog .blo-details h4 {
    font-size: 18px;
    margin: 0 0 10px 0;
  }

  #blog .blo-details p {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 0;
  }

  #blog .blo-details a {
    font-size: 12px;
  }

  #blog .blog-box h1 {
    top: -65px;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px 20px;
  }

  #header {
    padding: 10px 30px;
  }

  #hero {
    padding: 5px;
  }

  #hero h1 {
    font-size: 38px;
  }

  #hero h2 {
    font-size: 28px;
  }

  #feature {
    grid-template-columns: repeat(2, 1fr);
  }

  #collection-1 h2 {
    font-size: 38px;
  }

  #feature .feature-box {
    width: 120px;
    margin: 0 0 15px 0;
  }

  #collection-1 .collections {
    width: 100%;
  }

  #banner p {
    font-size: 48px;
  }

  #banner h3 {
    font-size: 28px;
  }

  #small-banner .banner-box {
    min-height: 250px;
    background-size: cover;
    padding: 15px;
  }
  #small-banner .banner-box2 {
    margin-top: 20px;
  }

  #small-banner h3 {
    font-size: 32px;
  }

  #small-banner p {
    font-size: 18px;
  }

  #small-banner button {
    padding: 10px 20px;
  }

  #banner3 {
    padding: 0 20px;
  }

  #banner3 .banner-box {
    height: 200px;
    padding: 15px;
  }

  #banner3 h3 {
    font-size: 24px;
  }

  #banner3 h4 {
    font-size: 16px;
  }

  #newsletter {
    padding: 40px 20px;
  }

  #newsletter .form {
    width: 100%;
  }

  footer .logo {
    width: 120px;
    margin-bottom: 40px;
  }

  footer .about h5 {
    margin-top: 20px;
  }

  footer .account h5 {
    margin-top: 20px;
  }

  footer .install h5 {
    margin-top: 20px;
  }

  footer .copyright {
    margin: 30px 0 20px;
  }

  footer p.coder-info {
    font-size: 8px;
    opacity: 0.8;
  }
  footer p a {
    font-size: 8px;
  }

  /* Shop page */

  #page-header h1 {
    font-size: 34px;
    text-align: center;
    padding-left: 0;
  }

  #page-header h2 {
    font-size: 14px;
    text-align: center;
    padding-left: 0;
  }

  /* Singel product */
  #pro-details {
    display: flex;
    flex-direction: column;
  }

  #pro-details .single-pro-image {
    width: 100%;
    margin-right: 0;
  }

  #pro-details .single-pro-details {
    width: 100%;
  }

  /* Blog page */
  #blog {
    padding: 100px 20px 0 20px;
  }

  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  #blog .blo-details {
    width: 100%;
  }

  /* About page */
  #page-header.about-header h1 {
    font-size: 38px;
  }

  #page-header.about-header h2 {
    font-size: 18px;
    padding: 0 5px;
  }

  #about-head {
    flex-direction: column;
    margin: 50px 0 50px;
  }

  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }

  #about-head div {
    padding-left: 0;
  }

  #about-app {
    margin: 50px 0 50px 0;
  }

  #about-app h1 {
    font-size: 38px;
    margin: 20px 0 20px;
  }

  #about-app .video {
    width: 100%;
  }
}
