body {
  color: #333;
  font-family: "Cormorant", sans-serif;
  /* font-family: "Nunito", sans-serif; */
  width: 100%;
  margin: 0;
  padding: 0;
}
/* navbar */
img.logo {
  width: 100px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.02);
  padding: 0 80px;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 15px 20px;
  position: relative;
}

#navbar li a {
  color: #333;
  font-size: 20px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

#navbar li a:hover,
#navbar li a .active {
  color: #ffc0cb;
}

#navbar li a .active::after,
#navbar li a:hover::after {
  content: "";
  width: 55%;
  height: 2px;
  background-color: #ffc0cb;
  position: absolute;
  bottom: -2px;
  left: 24px;
}

/* Home Page */
#hero {
  background-image: url("../images/hero.bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 960px;
  opacity: 0.8;
}

#hero h1 {
  color: #fff;
  font-size: 78px;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 8px;
  word-spacing: 10px;
  text-align: center;
  margin: 0;
  padding: 140px 0 0 0;
}

#hero h2 {
  color: #fff;
  font-size: 38px;
  font-style: italic;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
  padding: 60px 0 20px 0;
}

#hero button {
  display: block;
  margin: 0 auto;
  color: #333;
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  padding: 15px 25px;
  transition: all 200ms ease-in-out;
}

#hero button:hover {
  cursor: pointer;
  background-color: #ffc0cb;
  color: #fff;
}

/* feature section*/

.section-p1 {
  padding: 40px 80px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .feature-box {
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  width: 180px;
  text-align: center;
  margin: 15px 0;
  padding: 25px 15px;
  transition: all 250ms ease-in-out;
}

#feature .feature-box:hover {
  background-color: #fdf3f5;
  box-shadow: 10px 10px 44px rgba(0, 0, 0, 0.2);
}

#feature .feature-box img {
  width: 100%;
  padding-top: 15px;
}

#feature .feature-box h4 {
  font-size: 18px;
  line-height: 1.5;
  padding: 9px 8px 6px 8px;
}

/* collection section*/
#collection-1 {
  text-align: center;
}

#collection-1 h2 {
  font-size: 68px;
  font-style: italic;
  letter-spacing: 2px;
}

#collection-1 .collections-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

#collection-1 .collections {
  position: relative;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  width: 23%;
  min-width: 250px;
  margin: 20px 0;
  padding: 10px 12px;
  transition: all 250ms ease-in-out;
}

#collection-1 .collections:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

#collection-1 .collections img {
  width: 100%;
  border-radius: 2px;
}

#collection-1 .collections .description {
  text-align: start;
}

#collection-1 .collections .description span {
  font-size: 16px;
}

#collection-1 .collections .description h4 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  padding: 10px 0 15px 0;
}

#collection-1 .collections .description i {
  color: #6b6b6b;
  font-size: 16px;
}

#collection-1 .collections .description h5 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 5px 0 15px;
}

#collection-1 .collections .description .cart {
  color: #fff;
  background-color: #ffc0cb;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
